.key {
    font-family: 'Arvo', serif;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    display: flex;
    justify-content:center;
    margin-top:29px;
    margin-bottom: 20px;
}

.card-header{
	line-height: 4.5;
	border-radius: 3px !important ;
}
.card-body{
	border-radius: 3px !important ;
}
body{
	background-color: #a9d0da;
}
.specs{
	height: 400px;

	width: 550px;
}
.box{
	 display: flex;
    justify-content:center;
     
}
#keyboard {
	margin: 0;
	padding: 0;
	list-style: none;
}
#keyboard li {
	display: inline-flex !important;
	justify-content: center;
	align-items: center;
    /*float: left;*/
    margin: 0 auto;
    width: 50px;
    height: 50px;
    line-height: 40px;
    text-align: center;
    background: #fff url("images/keyboard-key.png") ;
    border: 1px solid #f9f9f9;
	 background-size: cover; 
}
ul.float {
/*    overflow: auto;*/
    margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}
#space{
	width: 110px !important;
	background: #fff url("images/space-bar-key.png") !important;
	 background-size: cover !important; 

}
.flx{}